{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="max-w-lg mx-auto mt-16 bg-white shadow-lg rounded-lg p-10">

<h2 class="text-3xl font-bold text-center mb-8">
Login to Your Account
</h2>

<form method="POST" class="space-y-6">

{% csrf_token %}

<div>

<label class="font-semibold">
Email / Username / Phone Number <span class="text-red-500">*</span>
</label>

<input type="text"
name="user_name_email_phone"
required
placeholder="Enter your email, username or phone number"
class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500">

</div>


<div>

<label class="font-semibold">
Password <span class="text-red-500">*</span>
</label>

<input type="password"
name="password"
required
placeholder="Enter your password"
class="w-full border rounded-lg px-4 py-2 focus:ring-2 focus:ring-blue-500">

</div>


<button type="submit"
class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold 
hover:bg-green-600 hover:shadow-[0_0_20px_rgba(34,197,94,0.8)] 
transition duration-300">

Login

</button>


<div class="text-center">

<p class="text-gray-600">

Don't have an account?
<a href="{% url 'register' %}" class="text-blue-600 font-semibold  hover:shadow-[0_0_20px_rgba(34,197,94,0.8)] transition duration-500">
Register
</a>

</p>

</div>

</form>

</div>

{% endblock %}